.container{
  display: flex;
  flex-direction: column;
  heigh: 100vh;
}
.header{
  flex: 20%
  background-color: lightgray;
}
.menu{
  
}
.footer{
  
}
h1{
  color: red;
  font-weight: bold;
  font-size: 20pt;
  text-align: center;
}
.tieude{
  color: tomato; 
  font-weight: bold;
  font-size: 20pt;
}
.noidung{
  color: black; 
  font-weight: normal;
  font-size: 14pt;
}
